body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #ffcc33, #ff66cc, #66ccff, #33ffcc); /* Added more colors to the gradient */
    height: 100vh;
    margin: 0;
}

h1 {
    color: #fff;
    margin: 20px 0;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

input {
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Completed {
    text-decoration: line-through;
    color: #888;
}

.task-button {
    display: flex;
    gap: 10px;
}

.task-button button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-button button:nth-child(1) { /* Delete Button */
    background-color: #ff4444;
    color: white;
}

.task-button button:nth-child(2) { /* Complete Button */
    background-color: #44cc44;
    color: white;
}

.task-button button:hover {
    opacity: 0.8;
}
